@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');



.aligndiv {
	margin: auto;
	width: 30%;
	align-items: center;
	text-align: center;
	margin-top: 2.5%;
}

#header {
	text-align: center;
	font-family: 'Assistant', sans-serif, bold;
	font-size: 4em;
	color: #5f6f3a; 
}



#formdiv {
	font-family: 'Assistant', sans-serif;
	font-size:1.3em;
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 18%;
	padding-bottom: 18%;
	text-align: center;
	margin: auto;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

input {
	font-family: 'Assistant', sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	width: auto;
	font-family: 'Assistant', sans-serif;
}

.bordered {
	border-style: solid;
	border-color: #5f6f3a;
	border-width: 2px;
	border-radius: 4px;	
	background-color: white;
}

#picinput {
	width: 88px;
	margin: auto;
}

#submit {
	background-color: #5f6f3a;
	color: white;
	border-radius: 4px;
	border-color: #5f6f3a;
	border-style: solid;
	font-size: 2em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


