<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='AboutUs.css')}}">
	<title>About GWAE</title>
</head>
<body>
	<p id="header1">About GWAE</p>

	<table>
		<tr>
			<td>
				<center><div class="misvis" id = "mission">
					<p class="title">Our Mission:</p><br>
					<p class="paragraph">Our mission is to encourage as many people as we can to take action about global warming and make our society more eco-friendly.</p>
				</div></center>
			</td>
			<td>
				<center><div class="misvis" id = "vision">
					<p class="title">Our Vision:</p><br>
					<p class="paragraph">We envision a world where an eco-friendly lifestyle is very common and normal, where people care about the state of the environment and global warming is no longer a problem.</p>
				</div></center>
			</td>
		</tr>
	</table>
	<p id="header2">Meet Our Team</p>
	<table>
		<tr>
			<td>
				<center><div class="aboutme" id="YuvalK">
					<p class="title">Yuval<br>Katz</p><br>
					<p class="paragraph">I’m Yuval Katz.<br>I live in Tel Aviv, I am a high school student and I like running and programming in my free time.<br>I am GWAE’s Web developer!</p><br>
					<img class="picofu" src="{{url_for('static', filename='pictureiuse/'+'da48b686-223a-4d6d-88ae-b24f483f5c8f.jpg')}}" alt="Yuval Katz">
				</div></center>
			</td>
			<td> 
				<center><div class="aboutme" id="Salam">
					<p class="title">Salam<br>Asadi</p><br>
					<p class="paragraph">I’m Salam Asadi.<br>I live in Judiede Maker village, I'm a high school student, MEET student and a ballet dancer.<br>I’m GWAE’s User Researcher.</p><br>
					<img class="picofu" src="{{url_for('static', filename='pictureiuse/'+'a1229d21-d221-4f03-b51a-35b93ebe9507.jpeg')}}" alt="Salam Asadi">
				</div></center>
			</td>
			<td>
				<center><div class="aboutme" id="YuvalW">
					<p class="title">Yuval<br>Wainstein</p><br>
					<p class="paragraph">I’m Yuval Wainstein.<br>I live in Tel Aviv, outside of school and MEET I’m an FRC robotics team member.<br>I’m GWAE’s Product Manager</p><br>
					<img class="picofu" src="{{url_for('static', filename='pictureiuse/'+'yuva.jpeg')}}" alt="Yuval Wainstein">
				</div></center>
			</td>
			<td>
				<center><div class="aboutme" id="Siwar">
					<p class="title">Siwar<br>Khalaf</p><br>
					<p class="paragraph">I’m Siwar Khalaf.<br>I live in Muqeible village, I’m  a MEET student,  a photographer and an artist.<br>I’m GWAE’s designer.</p><br>
					<img class="picofu" src="{{url_for('static', filename='pictureiuse/'+'adb84374-5062-46b2-98c8-2614f9a3bdbd.jpeg')}}" alt="Siwar Khalaf">
				</div></center>
			</td>
		</tr>
	</table>

</body>