<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Plese sign up</h1>

<div id="formdiv">

<form action="/signup" method="post" enctype="multipart/form-data">
    <input type="username" name="username" placeholder="First Name">
    <br>
    I am...

    <input type="radio" name="gender" value="Male">Male
    <input type="radio" name="gender" value="Female">Female
    <input type="radio" name="gender" value="Genderqueer/Non-Binary">Genderqueer/Non-Binary
    <input type="radio" name="gender" value="Prefer not to disclose">Prefer not to disclose
    <input type="radio" name="gender" value="other">other
    <br>
   <input type="text" name="password" placeholder="password">

    picture:<input type="file" name = "pic"><br>
    <form method=post enctype="multipart/form-data">
    <input type="date" id="birthdaytime" name="birthdaytime">
    <input type="submit" value="Submit">
    
</div>


</form>


</body>
</html>